.harrypotter img {
    height: 50%;
    width: 200%;
}

.gameofthrones img{
    height: 50%;
    width: 100%;
}

.gameofthrones {
    display: flex;
    flex-direction: column;
}

.midcontainer {
    display: flex;
    flex-direction: row;
}

.header h1 {
    text-align: center;
}